body {
  background: #063856;
  margin: 0;
}

*{
  list-style: none;
  box-sizing: border-box;
}

nav{
  position: fixed;
  z-index: 1;
  background-color: #01162c;
  height: 80px;
  width: 100%;
}

label.headertext{
  padding-left: 40px;
  padding-right: 40px;
  line-height: 80px;
  font-size: 35px;
  font-family: sans-serif;
}

nav ul{
  float: right;
  margin-right: 30px;
  margin-bottom: 14px;
}

nav ul li{
  display: inline-block;
  margin: 0 5px;
  font-family: sans-serif;
}

.headerdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  border-bottom: 4px solid #1a1a1a;
  display: block;
}

.line2 {
  border-bottom: 4px solid #1a1a1a;
  display: flex;
  margin-left: 30%;
  width: 40%;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

#stapline {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
}

#resline {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.line3 {
  position: relative;
  top: -0.28em;
  border-bottom: 4px solid #1a1a1a;
  display: flex;
  margin-left: 0%;
  width: 100%;
}

.img {
  position: relative;
  bottom: 0px;
  background-image: url(voorkant.jpg);
  height: 850px;
  width: 100%;
  background-size: cover;
  text-shadow: 4px 4px #1d1e1f;
}

.img1 {
  position: relative;
  left: 2rem;
  top: -2px;
  height: 80px;
  width: 100px;
}

.img2 {
  position: relative;
  height: 20rem;
  left: 3rem;
  padding-right: 3rem;
}

.img3 {
  position: relative;
  height: 20%;
  left: 3rem;
}

.img4 {
  position: relative;
  height: 20%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

#oei {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.links {
  font-size: 12px;

}

.links2 {
  font-size: 12px;

}

.links3 {
  font-size: 12px;

}

.flex-text {
  position: relative;
  display: flex;
  margin-top: 1rem;
  padding: 11.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.mid-text {
  position: relative;
  top: 2rem;
}

.mid-text2 {
  position: relative;
  top: 2rem;
}

#textlink2 {
  text-decoration: none;
  color: #ffffff;
  font-size: 12.5px;
  text-decoration: underline;
  text-shadow: 100;
}

.text1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  padding-left: 18%;
  padding-right: 18%;
}

#uit {
  margin-top: 1rem;
}

#hoe {
  margin-bottom: 1rem;
}

#bes {
  margin-bottom: 2rem;
}

#stap {
  margin-top: 10rem;
}

.text2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: sans-serif;
  padding-left: 100px;
  padding-right: 100px;
}

.sidetext {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 20rem;
  width: 40%;
}

.downloads {
  display: flex;

  column-gap: 4rem;

}

.spacer {
  height: 5rem;
}

.lijst1 {
  color: #ffffff;
  font-size: larger;
  padding-left: 20%;
}

@media only screen and (max-width: 900px){
  body {
    font-size: x-small;
  }

  .line2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .sidetext {
    width: 85%;
    height: 10rem;
  }

  .img2 {
    width: 85%;
    left: 0rem;
    padding-right: 0rem;
  }

  .img3 {
    width: 85%;
    left: 0rem;
  }

  .flex-text {
    top: 35%;
    padding: 1rem;
  }

  .text1 {
    font-size: x-small;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .text2 {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
  }

  label.headertext {
    font-size: 25px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .headerdiv {
    justify-content: center;
  }

  .foot {
    font-size: small;
    column-gap: 0rem;
    justify-content: center;
    flex-direction: column;
  }

  nav ul{
    display: none;
  }

  .line3 {
    top: 0;
  }

  .lijst1 {
    padding-left: 0rem;
  }
}

.decoration {
  height: 2rem;
  background-color: #1a1a1a;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.foot {
  display: flex;
  text-decoration: none;
  column-gap: 5rem;
  justify-content: space-around;
  padding: 3rem;
  color: #0d5e00;
  background-color: #1a1a1a;
  font-size: 28px;
  font-family: sans-serif;
}

#textlink{
  text-decoration: none;
  color: #ffffff;
}

.space {
  height: 200px
}
